.horizontal-frame {
    height: 100%;
    width: 100%;
    white-space: nowrap;
    margin: 1em 0;
}

.horizontal-card {
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 100%;
    vertical-align: middle;
    margin: auto;
    display: flex;
    border-radius: 10px;
}

.horizontal-card:hover {
    border-radius: 10px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    cursor: pointer;
}

.horizontal-painting {
    display: flex;
    justify-content: center;
    height: 25rem;
    vertical-align: middle;
    width: 40%;
}

.horizontal-painting > img{
    object-fit: cover;
    width: 100%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px; 
}
.horizontal-legend{
    padding-left: 3rem;
    border-left: 5px solid #f2f2f2;
    display: block;
}

p{
    white-space: pre-line;
}

@media (max-width: 600px) {

    .horizontal-painting{
        height: 25vh;
    }

    .horizontal-legend{
        padding: 0 10px;
    }

    .horizontal-legend > h5{
        margin: 10px auto;
    }
}