.contact-page{
    background: #D3CCE3 !important;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #ffffff, #D3CCE3) !important;  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #ffffff, #D3CCE3) !important; /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    min-height: 100vh;
}

.contact-page .contact {
    padding-top: 1.5rem;
    margin: auto 9rem;
    text-align: center;
}

.contact-page .contact p{
    width: 70%;
    margin: 2rem auto 1rem;
    font-size: 1.3rem;
}

.contact-page form{
    margin: 5rem 15rem 0 15rem;
}

.contact-page form .error{
    color: red;
    text-align: center;
    font-size: 1.25rem;
}

@media (max-width: 600px) {
    
    .contact-page .contact {
        margin: auto 10px;
        text-align: justify;
    }

    .contact-page .contact h1{
        text-align: center;
    }

    .contact-page .contact p{
        width: 85%;
    }

    .contact-page form{
        margin: 5rem auto 0 auto;
        width: 85%;
    }

    .contact-page form .send .save{
        padding: 1rem;
        margin-top: 2rem;
    }   
    
}